* {
    box-sizing: border-box;
}

:root {
    --purple: #4C5FD5;
    --light-purple: #dadbf1;
    --dark-grey: #191A1B;
    --black: #000000;
    --white: #fff;
}

body {
    background: var(--white);
    font-family: 'GT America Standard', sans-serif;
    color: var(--black);
    position: relative;
}

/* Header Section */
.header {
    display: flex;
    flex-direction: row;
    background: var(--black);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

.header__logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.header__logo-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__logo-icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__logo-icon i {
    font-size: 35px;
    margin-right: 10px;
}

.header__logo-icon span {
    font-size: 25px;
    font-weight: 400;
}

.header__line-divider {
    border-left: 3px solid var(--white);
    height: 35px;
}

.header__logo-help {
    font-size: 25px;
}

.header__logo-help:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    width: 390px;
}

.header__button-submit {
    border: 1px solid var(--white);
    background: var(--dark-grey);
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
}

.header__button-signin {
    border: 1px solid var(--purple);
    background: var(--purple);
    border-radius: 10px;
    padding: 10px 25px;
}

.header__button-signin:hover {
    cursor: pointer;
    border: 1px solid var(--white);
    background: var(--white);
    color: var(--black);
    transition-duration: 0.5s;
}

/* Floating Help Button */
.float__button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    border: 1px solid var(--purple);
    border-radius: 30px;
    background: var(--purple);
    color: var(--white);
    margin: 0 20px 10px 0;
    padding: 15px 30px 15px 30px;
    font-weight: 550;
    box-shadow: 0 1px 2px var(--dark-grey);
    cursor: pointer;
}

/* Main--Search Section */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-purple);
    height: 400px;
}

.search span {
    font-size: 80px;
    margin-bottom: 40px;
}

.search__box {
    position: relative;
    width: 40%;
    height: 16%;
    border-radius: 5px;
}

.search__box:hover {
    color: var(--purple);
    border: none;
    transition-duration: 0.3s;
}

.search__box input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
}

.search__box input:hover {
    border: 1px solid var(--purple);
    border-radius: 5px;
    transition-duration: 0.3s;
}

.search__box input:focus {
    border: 1px solid var(--purple);
    border-radius: 5px;
    outline: none;
}

.search__box i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

/* Main Item Section */
.main__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
    height: 930px;
}

.main__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--purple);
    font-size: 80px;
    height: 550px;
    margin-right: 30px;
}

.main__detail-rowone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 550px;
    margin-right: 30px;
}

.main__detail-rowtwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 550px;
}

.main__detail-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 95px;
}

.main__detail-one span {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 20px;
}

.main__detail-one p {
    font-size: 25px;
    margin-bottom: 20px;
}

.main__detail-one div {
    cursor: pointer;
    color: var(--purple);
}

.main__detail-one a {
    font-size: 20px;
    color: var(--purple);
    text-decoration: none;
    width: fit-content;
    margin-right: 5px;
}

.main__detail-one a:hover {
    text-decoration: underline;
}

.main__detail-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__detail-two span {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 20px;
}

.main__detail-two p {
    font-size: 25px;
    margin-bottom: 20px;
}

.main__detail-two div {
    cursor: pointer;
    color: var(--purple);
}

.main__detail-two a {
    font-size: 20px;
    color: var(--purple);
    text-decoration: none;
    width: fit-content;
    margin-right: 5px;
}

.main__detail-two a:hover {
    text-decoration: underline;
}

.main__detail-three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__detail-three span {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 20px;
}

.main__detail-three p {
    font-size: 25px;
    margin-bottom: 20px;
}

.main__detail-three div {
    cursor: pointer;
    color: var(--purple);
}

.main__detail-three a {
    font-size: 20px;
    color: var(--purple);
    text-decoration: none;
    width: fit-content;
    margin-right: 5px;
}

.main__detail-three a:hover {
    text-decoration: underline;
}

.main__rowone-fix {
    margin-bottom: 100px;
}

.main__rowtwo-fix {
    margin-bottom: 130px;
}

/* Footer Section */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    padding: 60px 140px 0;
    background: var(--black);
    color: var(--white);
}

.footer__abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer__header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links a {
    color: var(--white);
    text-decoration: none;
    margin-bottom: 10px;
}

.footer__links a:hover {
    text-decoration: underline;
}

.footer__links-contact a:nth-child(3) {
    margin-bottom: 40px;
}

.footer__links-contact span {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 140px;
}

.footer__copyright i {
    font-size: 35px;
    margin-bottom: 20px;
}

.footer__copyright span {
    font-size: 20px;
    margin-bottom: 10px;
}